<%- include('../partials/header') %>
  <div class="container" style="max-width: 600px;">

    <form method="POST" action="/api/user/<%=currentUser %>">

      <div class="container">
        <div class="modal-content">
          <div class="header">
            <h5>여행정보 수정</h5>
          </div>
          <form method="POST" action="/api/user/<%=currentUser%>">
            <div class="modal-body">
              <div class="form-group form-floating  input-group mb-3">
                <input name="region" class="form-control" id="region" value="<%=userInfo.region%>">
                <label for="region">region</label>
              </div>
              <div class="form-group  input-group form-floating mb-3">
                <input name="nation" class="form-control" id="nation" value="<%=userInfo.nation%>">
                <label for="nation">nation</label>
              </div>
              <div class="form-group form-floating  input-group mb-3">
                <input name="introduce" class="form-control" id="introduce" value="<%=userInfo.introduce%>">
                <label for="introduce">introduce</label>
              </div>
              <div class="form-group form-floating  input-group mb-3">
                <input name="mbti" class="form-control" id="mbti" value="<%=userInfo.mbti%>">
                <label for="mbti">MBTI</label>
              </div>
              <div class="form-group form-floating  input-group mb-3">
                <input name="githubUrl" class="form-control" id="githubUrl" value="<%=userInfo.githubUrl%>">
                <label for="githubUrl">GitHubUrl</label>
              </div>
              <div class="form-group form-floating  input-group mb-3">
                <input name="blogUrl" class="form-control" id="blogUrl" value="<%=userInfo.blogUrl%>">
                <label for="blogUrl">BlogUrl</label>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div></div>
              <button class="btn btn-primary" type="submit">수정하기</button>

            </div>
          </form>
        </div>
      </div>


  </div>

  <%- include('../partials/footer') %>