<%- include('../partials/header') %>

  <div class="container">
    <div class="modal-content">
      <div class="header">
        <h5>여행정보 수정</h5>
      </div>
      <form method="POST" action="/api/posts/<%=post.postId%>">
        <div class="modal-body">
          <div class="form-group form-floating mb-3">
            <select name="region" class="form-select" id="region" aria-label="Floating label select example" required>
              <option value="전체" selected>
                <%=post.region%>
              </option>on>
              <option value="F">F</option>
              <option value="T">T</option>
            </select>
            <label for="region">유형을 선택해 주세요</label>
          </div>
          <div class="form-group form-floating mb-3">
            <input name="title" class="form-control" id="title" value="<%=post.title%>" required />
            <label for="title">Title</label>
          </div>
          <div class="form-group form-floating mb-3">
            <textarea name="contents" class="form-control" id="contents" style="height: 100px"
              required><%=post.contents%></textarea>

            <label for="Post_contents">Contents</label>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <a class="btn btn-warning" href="/posts/<%=post.postId%>">뒤로가기</a>
          <button type="submit" class="btn btn-primary">수정하기</button>
        </div>
      </form>
    </div>
  </div>

  <%- include('../partials/footer') %>