<%- include('../partials/header') %>

  <div class="container ">
    <div class=" row">
      <div class="col-2">
        <div class="card">
          <div class="card-header">
            지역
          </div>
          <ul class=" list-group list-group-flush">
            <% regions.forEach((region)=> { %>
              <%- include('../partials/region',{region : region }) %>
                <% }) %>
          </ul>
        </div>
      </div>
      <div class="col-10  align-items-center">
        <div class="mb-5">
          <%- include('../partials/write.ejs') %>
        </div>

        <% posts.forEach((post)=> { %>
          <div>
            <%- include('../partials/card', {post : post}) %>
          </div>


          <% }) %>
      </div>
    </div>
  </div>


  <%- include('../partials/post_modal') %>

    <%- include('../partials/footer') %>